@font-face {
  font-family: 'rennerbook';
  src: url('../fonts/renner-book-webfont.woff2') format('woff2'),
    url('../fonts/renner-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'renner_lightlight';
  src: url('../fonts/renner-light-webfont.woff2') format('woff2'),
    url('../fonts/renner-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rennerbold';
  src: url('../fonts/renner-bold-webfont.woff2') format('woff2'),
    url('../fonts/renner-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rennermedium';
  src: url('../fonts/renner-medium-webfont.woff2') format('woff2'),
    url('../fonts/renner-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}